@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);
@import "tw-animate-css";

@theme {
    /* Your preferred text font. Starlight uses a system font stack by default. */
    --font-sans: Georgia, "Times New Roman", Times, serif, "MS Mincho", "SimSun", "Batang";
    /* Your preferred code font. Starlight uses system monospace fonts by default. */
    --font-mono: 'JetBrains Mono Variable', monospace;
    /* Generated accent color palettes. */
    --color-accent-200: #dec1be;
    --color-accent-600: #813935;
    --color-accent-900: #492825;
    --color-accent-950: #321d1c;
    /* Generated gray color palettes. */
    --color-gray-100: #f8f5f5;
    --color-gray-200: #f2eceb;
    --color-gray-300: #c7c0bf;
    --color-gray-400: #948886;
    --color-gray-500: #605553;
    --color-gray-700: #403533;
    --color-gray-800: #2e2422;
    --color-gray-900: #1b1716;
}
