---
import { BlueprintViewer } from "blueprintue-react-components"
import { Code } from '@astrojs/starlight/components';

const { height="500px", blueprintData='' } = Astro.props
---


{ blueprintData && <div class="not-content">
    <BlueprintViewer height={height} type="ERS Material" blueprintData={blueprintData} client:visible />
</div>
<Code code={Astro.locals.t('Uebp.copy')} mark={ ["Ctrl", " C "] } />
}
